

@media screen and (min-width: 640px) {
  .formulario{
      height: 860px;
  }
}

.log-form {
  margin-top: 110px;
  width: 50%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
}
@media (max-width: 40em) {
  .log-form {
    width: 95%;
    position: relative;
    margin: 2.5% auto 0 auto;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    -moz-transform: translate(0%, 0%);
    -o-transform: translate(0%, 0%);
    -ms-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
}
.log-form form {
  display: block;
  width: 100%;
  padding: 2em;
}
.log-form h2 {
  color: #5d5d5d;
  font-family: 'open sans condensed';
  font-size: 1.35em;
  display: block;
  background: #2a2a2a;
  width: 100%;
  text-transform: uppercase;
  padding: .75em 1em .75em 1.5em;
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.050000000000000044);
  border: 1px solid #1d1d1d;
  margin: 0;
  font-weight: 200;
}

.log-form input:invalid {
  border-bottom: 1px solid #d10202;
  visibility: visible;

  
}

.log-form input:placeholder-shown {
  border-bottom: 1px solid #eaeaea; 
  
}


.log-form input {
  display: block;
  margin: auto auto;
  width: 100%;
  margin-bottom: 2em;
  padding: .5em ;
  border: none;
  border-bottom: 1px solid #eaeaea;
  padding-top: 1.30em;
  color: #757575;
}


.fa-exclamationCircle{
  position: float;
  float: right;
  color: #d10202;
  
}


label.labelForm p{
  font-size:12px;
  position: float;
  float: right;
  color: #d10202;
  margin-right: 5px;
}




.log-form input:focus {
  outline: none;
}
.log-form .btn {
  display: inline-block;
  margin-top: 20px;
  margin-left: 35%;
  background: rgb(137, 0, 155);
  border: 1px solid rgb(63, 1, 71);
  padding: .5em 2em;
  color: white;
  margin-right: .5em;
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.19999999999999996);
}
.log-form .btn:hover {
  background: #23cad5;
}
.log-form .btn:active {
  background: #1fb5bf;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.09999999999999998);
}
.log-form .btn:focus {
  outline: none;
}
.log-form .forgot {
  color: #33d3de;
  line-height: .5em;
  position: relative;
  top: 2.5em;
  text-decoration: none;
  font-size: .75em;
  margin: 0;
  padding: 0;
  float: right;
}
.log-form .forgot:hover {
  color: #1ba0a9;
}


select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #ffffff;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  border: none;
  border-bottom: 1px solid #eaeaea;
  position: relative;
  display: flex;
  width: 90%;
  height: 3em;
  line-height: 3;
  background: #575757;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #757575;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #dbdddf;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: rgb(137, 0, 155);
}
