.carrito{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #212529;
    width: 70%;
    border-radius: 8px;
    color: white;
}


.carritoTotal{
    border-top: 2px solid #ac4caf ;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    margin-top: 10px;
    margin-bottom: 10px;


}

.pagarButton{
    margin-top: 10px;
}

.carritoTotal button{
    background-color: rgb(137, 0, 155);
    padding: 10px 9px;
    border-radius: 5px;
    border: 0px solid;
    margin-top: 10px;
    margin-right: 10px;
    cursor: pointer;
    display: flex;
}

.carritoTotal p{
    padding: 5px 0px;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    font-size:16px;
    display: flex;
    align-items: center;
}

.carDiv{
    border-top: 5px solid #ac4caf ;
        
    
}
.aCar{
    width:20%
}
.carImage{
    width:100%
}

.priceCar{
    margin-top: 65px;
    height: 40%;
    display: flex;
    justify-content:center;
    align-items:center;
}

.totalCar{
    text-align: center;
    border-top: 5px solid #ac4caf ;

}
.textCar{
    
    width:80%;
    text-align:center;
    padding-bottom: 5px;
}
.carTitle{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 5px solid #ac4caf;
}


.contentCar{
    display: flex;
}


.genderCar{
    overflow: auto;
    height: 150px;
    

}

@media screen and (max-width: 640px) {
    .carrito{
        width: 100%;
    }
    
  }
