.text{
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    background-color: #212529;
    width: 800px;

    margin-right: 2%;
    color: white;
}
.contenido h1{  
    width: 90%;
    margin-top: 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.productImage{
    width: calc(35% - 10px);
}

.productImage img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;

}

.info{
    margin-left: 10px;
    width: 65%;
    height: 365px;
    
}
.infoDevImg{
    background-color: #3a3a3b;
    font-size: 16px;
    border-radius: 5px;
    padding: 2px 1px;

    
}
.carritoImg:active, .carritoImg:visited,  .carritoImg:link{
    text-decoration: none;
    color: white;
}
.infoImg{
    width: 50%;
    border-right: 1px solid #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.imgPlataform{
    width: 20%;
}
.infoDev{
    width: 50%;
    text-align: center;
}

.infoGenderDiv{
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: auto;
    height: 170px;
    width: 100%;
    text-align: center;
    
}
.infoGenderDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(139, 139, 139);
}

.infoGenderDiv::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.infoGenderDiv::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f0f0f0;
}

.infoGender{
    text-align: center;
    margin: 3px;
    display: inline-block;
    background-color: #3a3a3b;
    padding: 10px 9px;
    border-radius: 10px;
    border: 1px solid;
    transition: 0.5s;
    
    
    
    
}

.infoGender:visited, .infoGender:active, .infoGender{
    text-decoration:none;
    color: rgba(255, 255, 255, 0.7);

}
.infoGender:hover {
    color: rgba(255, 255, 255, 1);
}

.pricesInfo{
    padding-right: 5%;

    
}


.priceInfo{
    background-color: #3a3a3b;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}
.priceInfo spam{
    padding-left: 8px;
    font-size:12px;
    text-decoration:line-through red;
}

.priceInfo .buttonCar{
    background-color: rgb(137, 0, 155);
    padding: 10px 9px;
    border-radius: 5px;
    
    cursor: pointer;
    display : flex;
    
}
.promoInfo{
    margin-right: 8%;
    background-color: rgb(137, 0, 155);
    padding: 8px 9px;
    border-radius: 5px;
    font-size: 24px;
    

}


.contenido{
    margin: 10px;
}


.contenido iframe{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 10px;
}



#barScroll::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: rgba(139, 139, 139);
}

#barScroll::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#barScroll::-webkit-scrollbar-thumb
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #f0f0f0;
}

.textContent{
    margin-top: 20px;
    margin: 20px;
}
.textContent p{
    
}