
.main-nav {
  display: flex;
  font-size: 18px;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  align-items: center;
  transition-duration: 0.4s;
  
}
.main-nav li {

  margin-right: 20px;
}


.registro{
	background-color: #ac4caf; 
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 90px;  
  font-size: 18px;
  cursor: pointer;
}

.navLinkMenu{
  text-decoration:none;
  color: rgb(0, 0, 0);
}

.navLinkBase:visited, .navLinkBase:active, .navLinkBase{
  text-decoration:none;
  color: rgba(255, 255, 255, 0.7);

}
.navLinkBase:hover {
  color: rgba(255, 255, 255, 1);
}

.nav-link{
text-decoration:none;
}

