@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

body {
	font-family: "Josefin Sans", sans-serif;
}




a:link, a:visited, a:active {
    text-decoration:none;
}





.navbar-toggle {
	position: absolute;
	top: 10px;
	right: 20px;
	cursor: pointer;
	color: rgba(248, 248, 248, 0.8);
	font-size: 24px;
}

.activeOpen {
	border-top: 1px solid rgb(92, 92, 92);
	padding-left: 1%;
	margin-top: 1%;
	padding-top: 1%;
	display: block;
}




.activeOpen .registro{
	background-color: #ffffff00; 
  color:  rgba(255, 255, 255, 0.7);
  font-size: 18px;
  padding: 0px;
  

}

.registro{
	background-color: #ac4caf; 
  border: none;
  color:  rgba(255, 255, 255, 0.7);
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: -5px;
}

